body
  color: white
  position: relative
#main
  position: static

.navi
  position:   fixed
  top:        -4rem
  right:      20rem
  text-align: right
  z-index:    10
  +transform( rotate(-90deg))
  a
    +transform(rotate(45deg))
    &.n-active
      color: white



= folie ($top, $right, $bottom, $left, $bg)
  top: $top
  left: $left
  //have to set explicit height so vertical centering works
  height: 100vh - $top - $bottom
  //just in harmony with having explicit height
  width: 100vw - $left - $right
  background-color: $bg
  &.f-active
    background-color: rgba($bg, 0.8)
    color:            $text-color
    z-index: 5
  &:not(.f-active)
    background-color: rgba($bg, 0.4)
    *
      opacity: 0.2
    //color:            rgba($text-color,0.2)


.folie
  position: absolute
  padding: 3rem

  .f-navi
    color: #ff0000
    z-index: 200
    position: fixed
    -webkit-backface-visibility: hidden
    -webkit-transform: translateZ(0)

  .logo
    max-width: 100%
  &:not(.f-start)
    .logo
      display: block
      zoom: 0.7
      margin-bottom: 2rem

  &.f-start
    +transform-style (preserve-3d)
    +folie(3.5vh, 3.5vw, 3.5vh, 3.5vw, #000033)

  &.f-artful-walks
    +folie(6vh, 2vw, 5vh, 1vw, rgb(0, 65, 116))

  &.f-about-us
    +folie(5vh, 2vw, 4vh, 7vw, #0e0058)

  &.f-ariane
    +folie(5vh, 2vw, 3vh, 6vw, #003366)

  &.f-norbert
    +folie(5vh, 2vw, 3vh, 6vw, #003366)

  &.f-contact-us
    +folie(8.5vh, 1vw, 2vh, 0.8vw, #000033)

  &.f-guest-book
    +folie(1.5vh, 1.5vw, 1vh, 0.5vw, #78bbcb)

  &.f-site-notice
    +folie(2vh, 1vw, 1.5vh, 1vw, #333333)

  &.f-see-you-soon
    +folie(6.5vh, 5vw, 3vh, 4.5vw, #443322)

.left-col
  width: 50%
  +on-mobile
    width: 100%