$brown: #E0DCCD
$grey : #414141
$light-grey : #f4f4f4
$green: #4b7373
$highlight: #c4c0b3
$highlight-semitrans:  hsla(171, 58, 51, 0.5)
$gutter: 15px

@import bs-variables

@import compass
@import bootstrap


@import layout
@import atoms

@import panda
