$brown: #E0DCCD
$grey : #414141
$light-grey : #f4f4f4
$green: #4b7373
$highlight: #c4c0b3
$highlight-semitrans:  hsla(171, 58, 51, 0.5)
$gutter: 15px

$font-size-base: 16px
$line-height-base: 1.8
$font-family-sans-serif:  "Lato", Helvetica, Arial, sans-serif !default
body *
  word-spacing: 0.2em
  text-rendering: optimizeLegibility
  -moz-font-feature-settings: "kern" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1
  -moz-font-feature-settings: "kern=1, liga=1, dlig=1, hlig=1, clig=1"
  -ms-font-feature-settings: "kern" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1
  -o-font-feature-settings: "kern" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1
  font-feature-settings: "kern" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1


//
//@import bs-variables
//
//@import compass
@import "bootstrap-sprockets"
// Core variables and mixins
@import "bootstrap/variables"
@import "bootstrap/mixins"

// Reset and dependencies
@import "bootstrap/normalize"
@import "bootstrap/print"
@import "bootstrap/scaffolding"
@import "bootstrap/type"
@import "bootstrap/forms"
@import "bootstrap/buttons"
//@import "bootstrap/responsive-utilities"
//@import "bootstrap/grid"
@import "bootstrap/modals"
//
//
//@import layout
@import atoms


.wrapper
  max-width: 80rem
  padding: 1rem
  margin: auto

h1, h2, h3
  margin-top: 2em
  font-weight: 900

input:focus, textarea:focus
  box-shadow: none !important

.bgvid
  position: relative
  top:    0
  left:   0
  width:  100vw
  height: 100vh

.html5-video-container
  background-color: white

.vid-overlay
  position: fixed
  bottom:   0
  background-color: rgba(255,255,255,0.6)
  padding:  2rem
  left: 0
  width: 100vw
  &:hover
    background-color: white

img
  width: auto !important
  height: auto !important
  max-width: 100%

.on-win, .on-mac, .on-lin, .on-else
  display: none

body.win .on-win
  display: block

body.mac .on-mac
  display: block

body.lin .on-lin
  display: block

body.else .on-else
  display: block
